site_name: Scruby Docs
site_description: "A fast key-value storage library."
site_url: https://kebasyaty.github.io/scruby/
site_author: Kebasyaty
copyright: Copyright &copy; 2025 Maintained by <a href="https://github.com/kebasyaty">Kebasyaty</a>
repo_name: kebasyaty/scruby
repo_url: https://github.com/kebasyaty/scruby

theme:
  name: material
  language: en
  custom_dir: docs/overrides
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    repo: fontawesome/brands/github
  features:
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - toc.follow
  palette:
    scheme: slate
    primary: light green
    accent: light green

extra_css:
  - custom_style/github_light_green.css

plugins:
  - search
  - tags:
      tags_slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            docstring_style: google

markdown_extensions:
  - toc:
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra:
  version:
    provider: mike
    default: latest
    alias: true
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/kebasyaty
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com

nav:
  - Scruby: index.md
  - Installation: pages/installation.md
  - Usage:
      - Usage: pages/usage/index.md
      - Working with keys: pages/usage/working_with_keys.md
      - Find a single document: pages/usage/find_a_single_document.md
      - Find documents: pages/usage/find_documents.md
      - Get collection name: pages/usage/get_collection_name.md
      - Get collection list: pages/usage/get_collection_list.md
      - Delete collection: pages/usage/delete_collection.md
      - Count documents: pages/usage/count_documents.md
      - Update documents: pages/usage/update_documents.md
      - Delete documents: pages/usage/delete_documents.md
      - Custom task: pages/usage/custom_task.md
      - Aggregation classes: pages/usage/aggregation.md
  - Aggregation classes: pages/aggregation.md
  - Constants: pages/constants.md
  - DataBase: pages/db.md
  - Errors: pages/errors.md
